//@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')

// variables
$total-width: 1280px
$total-height: 800px

html
    color: #222
    font-size: 1em
    line-height: 1.4
    font-family: 'Inconsolata', monospace
    background: #000
    height: 100%
    width: 100%

#controls
    position: fixed
    top: 0
    left: 0
    color: #777
    padding: 0px
    height: 10px
    text-align: top
    font-size: 10px
    z-index: 2000
    button
        border: 1px solid #777
        background: none
    .loading-spinner
        position: absolute
        left: 3px
        top: 3px
        display: none

/*  ====================================================  */


#overlay
    position: fixed
    -webkit-transition: all 0.03s
    z-index: 1000

.centered
    //text-align: center
.module
    height: $total-height

.module-group
    //margin: 20px auto
    display: inline-block
    width: $total-width
    left: 0
    right: 0

.static-modules
    position: absolute
    z-index: 1000
    .module 
        height: $total-height
        //border: 10px solid #0f0
        margin: 30px 0

    #shape-drawing

    #constellation

    #svg-drawing
        position: fixed
        height: 100vh
        width: 100vw
        left: 0
        top: 0
        z-index: 100
        transform: scale(2)
        svg
            height: 100%
            width: 100%
        
        @keyframes dash
            50% 
                stroke-dashoffset: 0      

        path
            stroke: #fff
            fill: none
            stroke-width: 3
            stroke-dasharray: 10000
            stroke-dashoffset: 10000
            animation: dash 30s ease-in-out

.text-output
    position: fixed
    //z-index: 2000
    bottom: 0
    //top: 0
    left: 0
    color: #FFF
    margin: 0
    height: 100vh
    width: 100vw
    //min-height: 60px
    font-size: 130px
    //min-height: 200px
    .text-cont 
        display: table-row
        vertical-align: bottom
        height: 1px
    .text-output-0
        position: absolute
        left: 0
        bottom: 20px
        padding: 20px
        opacity: 0.5
    .text-output-1
        position: absolute
        right: 0
        bottom: 20px
        padding: 20px
        float: right
        text-align: right
        opacity: 0.5
        //float: left

.dynamic-modules
    transition: 0.5s
    -webkit-transition: all 0.5s
    -webkit-transform: scale3d(1,1,1)

    .module-section
        width: $total-width
        min-height: $total-height
        margin: 30px 0
        //border: 10px solid #f00
        //display: none

    #gradient-group
        height: $total-height
    
    #emotion-history-grid
        height: total-height
        svg
            height: $total-height

    #emotion-gradient
        overflow: hidden
        position: relative
        top: 0
        svg
            width: $total-width

    #emotion-gradient-bottom
        margin-bottom: -800px

    #particles
        height: $total-height
        background: #000
    
    #video-module
        height: $module-height
    
    #image-module
        height: $total-height

    #canvas-sketch
        background: #ddd
        height: $total-height
   
    




/*  ====================================================  */
.clearfix
    &::after
        display: block
        content: ""
        clear: both
