
html
    color: #222
    font-size: 1em
    line-height: 1.4
    font-family: 'Inconsolata', monospace
    background: #000
    margin: 0
    padding: 0
    height: 100%
    width: 100%

    &::-webkit-scrollbar 
        width: 0 !important

#controls
    position: fixed
    top: 0
    left: 0
    color: #777
    padding: 0px
    height: 10px
    text-align: top
    font-size: 10px
    z-index: 2000
    button
        border: 1px solid #777
        background: none
    .loading-spinner
        position: absolute
        left: 3px
        top: 3px
        display: none

/*  ====================================================  */

#constellation
    //background: #fff

#overlay
    position: fixed
    transition: all 1s
    z-index: 1000

.module-group
    left: 0
    right: 0

.static-modules
    position: absolute
    top: 0
    left: 0

    .module
        z-index: 1000
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
    
    #shape-drawing
        left: 0
        transition: all 2s ease
        transform: scale(1)
    
    #svg-drawing
        transform: scale(1.2)
        svg
            height: 100%
            width: 100%
        
        @keyframes dash
            50% 
                stroke-dashoffset: 0      

        path
            stroke: #fff
            stroke-width: 3
            fill: none
            animation: dash 30s ease-in-out

.text-output
    position: absolute
    bottom: 0
    left: 0
    top: 0
    color: rgba(255,255,255,0.6)
    margin: 0
    //opacity: 0.3
    font-size: 20rem
    mix-blend-mode: overlay
    //display: block !important
    display: none
    z-index: 5000
    .text-output-0
        transition: all 2s ease
        position: absolute
        left: 0
        top: 0
        //opacity: 0.5
        mix-blend-mode: overlay

    .text-output-1
        transition: all 2s ease
        position: absolute
        right: 0
        top: 0
        float: right
        text-align: right
        //opacity: 0.5
        padding-top: 90px
        mix-blend-mode: overlay

.dynamic-modules
    transition: 0.5s
    transform: scale3d(1,1,1)

    .module-section
        //position: absolute
        top: 0
        left: 0

    #gradient-group
        .module
            height: 100%

        #emotion-gradient-bottom
            margin-bottom: -100vh

    #emotion-gradient-top
        //-webkit-transition: all 1s
        overflow: hidden
        position: relative
        top: 0
        svg
            //width: $total-width

    #ytplayer
        -webkit-transition: all 1s
        z-index: 1000
        //opacity: 0
        transform: scale(1.2)

#nature-image-module, #face-image-module
    transition: all 1s
    transform: scale(1)

#livestream-module
    transform: scale(1.2)
/*  ====================================================  */

.clearfix
    &::after
        display: block
        content: ""
        clear: both
